# Only ignore PyTorch model files
*.pt

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebook checkpoint
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
